<%# I need to repair this bug  %>
<%#= render 'components/navbar'%>

<h1 class="container title is-3 has-text-centered">Editing Serie</h1>

<%= render 'form', serie: @serie, page_name: "Update Serie" %>
